@import "../../../std.scss";
.About {
  background: $bc_color_light;
  border: 1px solid $bc_color_dark;
  margin-top: 60px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  min-height: 300px;
  
}